.container {
    
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  .movies {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /*border:solid;*/

  }