
.menu{
    position:fixed;

    right: 0;
    margin-right: 100px;
    margin-top:100px;
    
}
  .menu-toggler {
    position: absolute;
margin-top: -20px;
    width:40px;
    height:40px;
    z-index:2;
    opacity:0;
    cursor:pointer;
  }
  .menu-toggler:hover + label,
  .menu-toggler:hover + label:before,
  .menu-toggler:hover + label:after,{
    background: white;
  }
  .menu-toggler:checked + label {
    background: transparent;
  }
  .menu-toggler:checked + label:before,
  .menu-toggler:checked + label:after,{
    top:0;
    width:40px;
    transform-origin: 50% 50%;
  }
  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }
  .menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-70px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-70px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-70px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-70px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-70px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-70px);
  }
  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events:auto;
  }
  .menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(230, 239, 250, 0.9);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  }
  .menu-item:nth-child(1) a {
    transform: rotate(0deg);
  }
  .menu-item:nth-child(2) a {
    transform: rotate(-60deg);
  }
  .menu-item:nth-child(3) a {
    transform: rotate(-120deg);
  }
  .menu-item:nth-child(4) a {
    transform: rotate(-180deg);
  }
  .menu-item:nth-child(5) a {
    transform: rotate(-240deg);
  }
  .menu-item:nth-child(6) a {
    transform: rotate(-300deg);
  }
  .menu-item {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(230, 230, 250, 0.7);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: white;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px
  }


body{
    margin:0;
    background-color: #f1f1f2;
    z-index: -5;
}

.bg{
    margin:0px;
    height: 100%;
    width: 100%;
    background-image: url(toronto.jpg);
    background-color: #bcbabe;
    background-blend-mode: screen;
    clip-path: polygon(21% 0, 100% 0, 100% 80%, 93% 100%, 5% 100%, 0 80%, 0 12%);
    position:fixed;
    z-index:-2;
}

.bg2{
    margin:0px;
    height: 100%;
    width: 100%;
    background-image: url(toronto.jpg);
    background-color: #bcbabe;
    background-blend-mode: screen;
    clip-path: polygon(21% 0, 100% 0, 100% 80%, 93% 100%, 5% 100%, 0 80%, 0 12%);
    position:absolute;
    z-index: -1;
 
}


.part1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.introduce{
    width: 100%;
    height: 30vh;
    background-color: #f1f1f2;
    align-self: flex-end;
    align-content: center;
    justify-content: center;

}

.bla{
    text-align: center;
}
.part2{
    width:100vw;
height: 100vh;
margin: 0px;

    display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}

.section1{
    background: #f1f1f2;
    align-self: center;
    width: 940px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.intro{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 80%;
    
}
.introbox{
    display: flex; 
    flex-direction: column;
    border: solid;
    border-color: #a1d6e2;
    border-radius: 20px;
    background-color: #a1d6e2;
    width: 100%;
    height: 100%;
}
.introcircle{
    margin-top: 5%;
    margin-left: 5%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #f1f1f2;
}

.introimg{
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 200px;
}

.year{
    margin-top: 5px;
   margin-bottom: 15px;
    width: 100%;
   
}


.tri{
    display: flex;
    width: 100%;
}

.tri1{
    margin-left:9%;
}

.tri2{
    margin-left:16%;
}
.tri3{
    margin-left:6%;
}
.tri4{
    margin-left:2%;
}
.tri5{
    margin-left:2%;
}
.tri6{
    margin-left:10%;
}
.tri7{
    margin-left:2%;
}


.showimage{
    visibility: hidden;
     display: flex;
     width: 100%;
     height: 40px;
     align-content: center;
     text-align: center;
     margin-bottom: 28px;
 }

.pimg{
    margin-bottom: -18px;
    height: 60px;
    width: 90px;    
    border: solid;
    border-color: #a1d6e2;
    border-radius: 10px;
    background-color: #a1d6e2;
}
.pdate{
    margin-bottom: -35px;
}
.year1{
    display: flex;
    width: 100%;
    height:15px;
    background-color: #1995ad;
}
.pbox1{
    margin-left:4.5%;
}
.pbox2{
    position:relative;
    margin-left:7%;
}
.pbox3{
    position:relative;
    margin-left:-5%;
}
.pbox4{
    position:relative;
    margin-left:-13%;
}
.pbox5{
    position:relative;
    margin-left:-9%;
}
.pbox6{
    position:relative;
    margin-left:-6.5%;
}
.pbox7{
    position:relative;
    margin-left:-1%;
}
.pbox8{
    position:relative;
    margin-left:-13%;
}

.pbox9{
    position:relative;
    margin-left:-9%;
}
.pbox10{
    margin-left:-14%;
}


.year3{
 
    display: flex;
    width: 100%;
    height:15px;
    background-color: #1995ad;
}

.id1{
    height: 30px;
    width: 2%;
   margin-left: 8.3%;
}
.id2{
    height: 30px;
    margin-left:15%;
    width:2%;
 

}
.id3{
    height: 15px;
    margin-left:5.5%;
    width:5%;
}
.id4{
    
    margin-left:32.8%;
    height: 15px;
    width:3%;

}
.id5{
    position:relative;
    margin-left:-3%;
    height: 30px;
    width: 3%;
   
}
.id6{
   
    height: 30px;
    width: 3%;
  
}
.id8{
    height: 15px;
    margin-left:9%;
    width:3%;
 
}
.id7{
    position:relative;
    margin-left:14%;
    height: 15px;
    width: 7.2%;

}

.id10{
    height: 15px;
    margin-left:0%;
    width:4%;
   

}
.id9{
    position:relative;
    height: 15px;
    margin-left:-4.2%;
    width:4%;
 

}

.ar{
    color: #1995ad;
}
.year2{
color:#bcbabe;    
    display: flex;
    width:100%;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
}



.part3{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}



.container {
    align-self: center;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
