.wrap{
    background-color: #f6f5f0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:center;
    position:fixed;
    z-index: 1;
}
.logo{
    height: 45px;
    width: 45px;
    background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
    background-size:45px;
    border:transparent;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 8px;
}
.icons{
    font-size: 55px;
    color:#55443a;
    margin-right: 5px;
}
ul{
    padding:0;
    margin:0;
    list-style:none;
    background:transparent;
    float:left;
}
.list{
    float:left;
    padding-left:5px;
    padding-right: 8px;
    font-size: 13px;
    background:transparent;
}
.list2{
    align-items: center;
    justify-self: center;
    display: flex;
    height: 50px;
    float:left;
    color:#333;
    font: normal 13px Avenir, Arial, georgia;
    padding-left:24px;
    padding-right: 24px;
}
.list:nth-child(-n+3){
    border-right: 1px solid #e6e5e0;
}
a{
    text-decoration: none;
    color: #555;
}
@media screen and (max-width:961px) {
    .menus{
        display: none;
    }
    .logo{
        height: 45px;
        width: 45px;
        background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
        background-size:45px;
        border:transparent;
        border-radius: 50%;
        margin-left: 5px;
        margin-top: 8px;
        
    }
    .icons{
        font-size: 55px;
        color:#55443a;
        margin-right: 5px;
    }
}

@media screen and (min-width:961px)and (max-width:1130px){
    .wrap{
        background-color: #f6f5f0;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content:center;
        position:fixed;
        z-index: 1;
        align-items: center;
        justify-items: center;
    }
    .logo{
        height: 75px;
        width: 75px;
        background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
        background-size:75px;
        border:transparent;
        border-radius: 50%;
        margin-left: 5px;
        margin-top: 8px;
        
        position: absolute;
    }
    .icons{
        display: none;
    }
.menus{
    display: flex;
    flex-direction: column;
    
}

.wrap_inner1{
    height: 20px;
    right: 93px;
    top:15px;
    position: absolute;
}
.wrap_inner1 nav p{
    position:absolute;
    height: 32px;
    right: -35px;
    top: -23px;
    width: 32px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.wrap_inner1 nav p a svg{
    font-size: 32px;
    margin-bottom:10px;
    padding:0;
}
.wrap_inner2{
    width: 100%;
    display: flex;
    height: 50px;
    bottom:0px;
    justify-content: end;
    position: absolute;
}

.dropdown{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: absolute;
    left:0;
    padding-top: 0px;
    transition: all .5s ease;

    
}

.dropdown_content{
    position: absolute;
    width: 100%;
    background-color:#2C2A29 ;
    margin-left: 0;
    color: #999; /*#fff*/
}

.dropdown_items{
    font-size: 12px;
    padding:30px;
}
.list2:hover{
    background-color: #2C2A29;
    transition-property: background-color;
    transition-duration: 0.5s;
  
}
.list2:hover .dropdown {

    animation-duration: 1s;
    animation-name: slide-down;

}
.list2:hover a{
    color:#669900;
}
}

@keyframes slide-down{
    0%{
        
        transform:translateZ(200px) translateY(0px);
    }

    100%{
        opacity: 1;
        width: 100%;
        height: 200px;
        visibility: visible;
        transform-origin: top center;
        transform:translateZ(0) translateY(17px);
    }
}
