.wrap{
    background-color: #f6f5f0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:center;
    position:fixed;
    margin-bottom: 58px;
    z-index: 1;
}

.logo{
    height: 45px;
    width: 45px;
    background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
    background-size:45px;
    border:transparent;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 8px;
    
}

.icons{
    font-size: 55px;
    color:#55443a;
    margin-right: 5px;
}