
.wrap{
    margin-top:70px;
    background-image: url('https://image.istarbucks.co.kr/img/event/2022/2022_Strawberry_main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    height: 588px;
    
}
.title{
    position:absolute;
    padding-top: 30px;
    padding-left: 10px;
    width: 226px;
}

.drink1{
    position:absolute;
    width: 442px;
    top:200px;
    left:50px
    

}
.drink2{
    position:relative;
    height: 379px;
    bottom: 40px;
    left: 290px;
}

.drink3{
    position:relative;
    width: 216px;
    top:70px;
    left:220px;
}